<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{MyWeddi}"></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/ask_for_new_password.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

  <div class="header-top">
    <div>
        <a th:href="@{/}" th:text="#{appdomain}"></a>
    </div>
  </div>

  <div class="reset_password">
    <p><span th:text="#{reg_complete_msg_part1}"> </span> <span th:text="${email}"></span> <span th:text="#{reg_complete_msg_part2}"></span></p>

    <form th:action=@{/registration/sendagain} method="POST">
      <button class="btn_reset_pass" type="submit" name="userid" th:value="${userid}" th:text="#{button.sendAgain}"></button>
    </form>
    <a th:href="@{/login}" th:text="#{button.backToLoginPage}"></a>
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
