<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/addguest.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/addguest.css">
</head>
<body>
    <header th:replace="fragments/top :: top"></header>
    <header th:replace="fragments/header :: header"></header>
    <div class="container" style="display: flex;">
      <aside class="menu" th:replace="fragments/menu :: menu"></aside>
    <!-- ************************************************** -->

    <section class="content">
    <form th:action="@{/host/guest}" method="post" class="addguest_form">
        <div class="AddGuest">
            <h1>POTENCJALNI</h1>
            <h3>DODAJ GOŚCIA</h3>
            <label for="firstname"> I M I Ę</label>
            <input type="text" name="firstname" id="firstname" minlength="3">
            <label for="lastname">N A Z W I S K O</label>
            <input type="text" name="lastname" id="lastname" minlength="3">
            <label for="couple">O S O B A  T O W A R Z Y S Z A C A</label>
            <input type="checkbox" name="couple" id="couple">
            <label for="children_amount">D Z I E C I</label>
            <input class="input_children_width" type="number" name="children_amount" id="children_amount">

        </div>
        <div class="enterbtn_addguest">
            <button type="submit" class="btn">D O D A J</button>
        </div>
    </form>
        <div class="listofguest">
            <table class="table_addguest">
                <tr><th>LP</th><th>IMIE</th><th>NAZWISKO</th><th>OS TOW</th><th>DZIECI</th><th>SUMA</th><th>USUŃ</th></tr>
                <tr th:each="g, it : ${guestList}">
                  <td th:text="${it.count}"></td>
                    <td th:text="${g.firstname}"></td>
                    <td th:text="${g.lastname}"></td>
                  <td><input type="checkbox"></td>
                  <td><input class="input_children_width"  type="number"></td>
                  <td>suma</td>
                  <td><a><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </table>
      </div>
        <div class="listofguest">
            <h1>ZAREJESTROWANI GOSCIE</h1>
            <table class="table_addguest">
                <tr><th>LP</th><th>IMIĘ</th><th>NAZWISKO</th><th>STATUS</th><th>OS TOW</th><th>DZIECI</th><th>LOZKA</th><th>PLEC</th><th>WIEK</th><th>USUŃ</th></tr>
                <tr th:each="g, it : ${guestList}">
                    <td th:text="${it.count}"></td>
                    <td th:text="${g.firstname}"></td>
                    <td th:text="${g.lastname}"></td>
                    <td><i th:class="${g.statusIco}"></i></td>
                    <td>TAK</td>
                    <td>2</a></td>
                    <td><a>5</a></td>
                    <td><a>K</a></td>
                    <td><a>25</a></td>
                    <td><a><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </table>
        </div>

  </section>

  <!-- ************************************************** -->
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>

</body>
<script src="/js/uploadphoto.js"></script>
</html>

