<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/addguest.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/addguest.css">
</head>
<body>
    <header th:replace="fragments/top :: top"></header>
    <header th:replace="fragments/header :: header"></header>
    <div class="container" style="display: flex;">
      <aside class="menu" th:replace="fragments/menu :: menu"></aside>
    <!-- ************************************************** -->

    <section class="content">
    <form th:action="@{/host/guest}" method="post" class="addguest_form">
        <div class="AddGuest">
            <h1>DODAJ GOŚCIA</h1>
            <label for="firstname"> I M I Ę</label>
            <input type="text" name="firstname" id="firstname" minlength="3">
            <label for="lastname">N A Z W I S K O</label>
            <input type="text" name="lastname" id="lastname" minlength="3">
        </div>
        <div class="enterbtn_addguest">
            <button type="submit" class="btn">D O D A J</button>
        </div>
    </form>
        <div class="listofguest">
            <table class="table_addguest">
                <tr><th>LP</th><th>OBECNOŚĆ</th><th>PROFIL</th><th>IMIĘ</th><th>NAZWISKO</th><th>GENERUJ</th><th>USUŃ</th></tr>
                <tr th:each="g, it : ${guestList}">
                  <td th:text="${it.count}"></td>
                  <td><i th:class="${g.statusIco}"></i></td>
                  <td><i class="far fa-user-circle"></td>
                  <td th:text="${g.firstname}"></td>
                  <td th:text="${g.lastname}"></td>
                  <td><a><i class="fas fa-arrow-down"></i></a></td>
                  <td><a><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </table>
      </div>

  </section>

  <!-- ************************************************** -->
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
