<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/css/addguest.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
  <title>MyWeddi</title>

  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/addguest.css">
  <link rel="stylesheet" type="text/css" href="/css/addgifts.css">


  <link rel="stylesheet" type="text/css" href="../../static/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/addguest.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/addgifts.css">
</head>

<body>
  <header th:replace="fragments/top :: top"></header>
  <header th:replace="fragments/header :: header"></header>
  <div class="container" style="display: flex;">
    <aside class="menu" th:replace="fragments/menu :: menu"></aside>
    <!-- ************************************************** -->

    <section class="content">
      <form th:action="@{/host/gift}" method="post" class="addgift_form">
        <div class="addGifts_top">
          <p class="p1"><b>GŁÓWNY PREZENT</b> </p>
          <div class="bigGifts">
            <button th:if="${giftIn.GIFTS}" type="submit" class="gift-btn-selected" onclick="mainGiftSelect(this)" name="GIFTS" id="GIFTS" style="background-image: url(/img/prezent.png)">
            </button>
            <button th:unless="${giftIn.GIFTS}" type="submit" class="gift-btn" onclick="mainGiftSelect(this)" name="GIFTS" id="GIFTS" style="background-image: url(/img/prezent.png)">
            </button>

            <button th:if="${giftIn.MONEY}" type="submit" class="gift-btn-selected" onclick="mainGiftSelect(this)" name="MONEY" id="MONEY" style="background-image: url(/img/koperta.png)">

            </button>
            <button th:unless="${giftIn.MONEY}" type="submit" class="gift-btn" onclick="mainGiftSelect(this)" name="MONEY" id="MONEY" style="background-image: url(/img/koperta.png)">
            </button>

          </div>
          <p class="p00"><b>PREZENT ZAMIAST KWIATÓW (OPCIONALNIE)</b></p>
          <div class="smallGifts">
            <div class="column">
              <div class="gift-row">
                <button th:if="${giftIn.POTTEDFLOWERS}" type="submit" class="gift-btn-selected" name="POTTEDFLOWERS" id="POTTEDFLOWERS" onclick="smallGiftSelect(this)" th:value="${giftIn.POTTEDFLOWERS}" style="background-image: url(/img/kwiat.png)">
                </button>
                <button th:unless="${giftIn.POTTEDFLOWERS}" type="submit" class="gift-btn" name="POTTEDFLOWERS" id="POTTEDFLOWERS" onclick="smallGiftSelect(this)" th:value="${giftIn.POTTEDFLOWERS}" style="background-image: url(/img/kwiat.png)">
                </button>
                <label>Kwiaty doniczkowe</label>
              </div>

              <div class="gift-row">
                <button th:if="${giftIn.WINE}" type="submit" class="gift-btn-selected" name="WINE" id="WINE" onclick="smallGiftSelect(this)" th:value="${giftIn.WINE}" style="background-image: url(/img/wino.png)">
                </button>
                <button th:unless="${giftIn.WINE}" type="submit" class="gift-btn" name="WINE" id="WINE" onclick="smallGiftSelect(this)" th:value="${giftIn.WINE}" style="background-image: url(/img/wino.png)">
                </button>
                <label>Wino</label>
              </div>

              <div class="gift-row">
                <button th:if="${giftIn.BOOKS}" type="submit" class="gift-btn-selected" name="BOOKS" id="BOOKS" onclick="smallGiftSelect(this)" th:value="${giftIn.BOOKS}" style="background-image: url(/img/ksiazka.png)">
                </button>
                <button th:unless="${giftIn.BOOKS}" type="submit" class="gift-btn" name="BOOKS" id="BOOKS" onclick="smallGiftSelect(this)" th:value="${giftIn.BOOKS}" style="background-image: url(/img/ksiazka.png)">
                </button>
                <label>Książki</label>
              </div>
            </div>
            <div class="column">
              <div class="gift-row">
                <button th:if="${giftIn.FOODER}" type="submit" class="gift-btn-selected" name="FOODER" id="FOODER" onclick="smallGiftSelect(this)" th:value="${giftIn.FOODER}" style="background-image: url(/img/karma.png)">
                </button>
                <button th:unless="${giftIn.FOODER}" type="submit" class="gift-btn" name="FOODER" id="FOODER" onclick="smallGiftSelect(this)" th:value="${giftIn.FOODER}" style="background-image: url(/img/karma.png)">
                </button>
                <label>Karma dla zwierząt</label>
              </div>
              <div class="gift-row">
                <button th:if="${giftIn.LOTTERY}" type="submit" class="gift-btn-selected" name="LOTTERY" id="LOTTERY" onclick="smallGiftSelect(this)" th:value="${giftIn.LOTTERY}" style="background-image: url(/img/lotto.png)">
                </button>
                <button th:unless="${giftIn.LOTTERY}" type="submit" class="gift-btn" name="LOTTERY" id="LOTTERY" onclick="smallGiftSelect(this)" th:value="${giftIn.LOTTERY}" style="background-image: url(/img/lotto.png)">
                </button>
                <label>Kupony na loterii</label>
              </div>
              <div class="gift-row">
                <button th:if="${giftIn.CHARITY}" type="submit" class="gift-btn-selected" name="CHARITY" id="CHARITY" onclick="smallGiftSelect(this)" th:value="${giftIn.CHARITY}" style="background-image: url(/img/dobroczynność.png)">
                </button>
                <button th:unless="${giftIn.CHARITY}" type="submit" class="gift-btn" name="CHARITY" id="CHARITY" onclick="smallGiftSelect(this)" th:value="${giftIn.CHARITY}" style="background-image: url(/img/dobroczynność.png)">
                </button>
                <label>Dobroczynność</label>
              </div>
            </div>
          </div>


        </div>
        <div class="textarea_addGifts">
          <p class="p3"><strong>Jeśli nie satysfakcjonują cię powyższe wybory, wpisz informacjie w polu poniżej. Możesz tu umieścić wierszyk, doatkowe inforamcjie jak np: fundacja, numer konta</strong></p>
          <textarea class="giftInfo" id="giftInfo" name="giftInfo" th:text="${giftIn.giftInfo}" rows="4" cols="50">
            </textarea>
        </div>
        <div class="enterbtn_addGifts">
          <button type="submit" class="btn00">D O D A J</button>
        </div>
      </form>
      <div class ="textarea_addGifts2" >
      <p class="p0"><strong>Jeśli zależy Ci na konkretnej rzeczy/książce itd. dodaj ja do listy</strong></p>
      <div>
        <input type="text" name="giftname" id="giftname" minlength="2">
      </div>
      </div>
      <div class="enterbtn_addGifts2">
        <button type="submit" class="btn00">D O D A J</button>
      </div>
      <div class="down_of_addgifts">

        <form th:action="@{/host/gift/add}" method="post">

        </form>
        <div class="listofguest">
          <table class="table_gifts">
            <tr>
              <th>LP</th>
              <th>Prezent</th>
              <th>REZERWUJ</th>
            </tr>
            <tr th:each="g, it : ${giftWrapper.gifts}">

              <td th:text="${it.count}"></td>
              <td th:text="${g.name}"></td>
              <td th:if="${g.userid == null}">REZERWUJ</td>
              <td th:unless="${g.userid == null}"></td>
              <td>
                <form th:action="@{/host/gift/remove}" method="post">
                  <button type="submit" name="giftid" th:value="${g.id}">Usuń</button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <!-- ************************************************** -->
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
<script>
  function smallGiftSelect(btn) {

    let isSelected = btn.value;
    if (isSelected === "true") {
      btn.value = false;
      btn.className = "gift-btn";
    } else {
      btn.value = true;
      btn.className = "gift-btn-selected";
    }
  }

  function mainGiftSelect(btn) {

    let money = document.getElementById("MONEY");
    let gifts = document.getElementById("GIFTS");

    money.value = false;
    gifts.value = false;
    money.className = "gift-btn";
    gifts.className = "gift-btn";


    let isSelected = btn.value;
    if (isSelected === "true") {
      btn.value = false;
      btn.className = "gift-btn";
    } else {
      btn.value = true;
      btn.className = "gift-btn-selected";
    }
  }
</script>

</html>
