<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MyWeddi</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>

<body>
  <header th:replace="top :: top">
  </header>
  <header th:replace="header :: header">
  </header>

  <div class="container" style="display: flex;">
    <aside class="menu" th:replace="menu :: menu"></aside>
    <!-- ************************************************** -->
    <section class="content">
      <!-- ************************************************** -->
      <form th:action="@{/host/info}" method="post" th:object="${weddingDTO}" enctype="multipart/form-data">
        <input type="hidden" name="weddingid" th:value="${weddingDTO.weddingid}" />
        <p th:if="${massage != null}" th:class="${class}" th:text="${message}"></p>
          <div class="generalinfo">
            <div class="dateofwedding">
              <label for="ceremenytime">Data ślubu</label>
              <input type="datetime-local" name="ceremenytime" id="ceremenytime" minlength="3" th:field="*{ceremenytime}" required>
            </div>
            <div class="infoofwedding">
              <label for="info">INFO</label>
              <textarea id="info" name="info" rows="4" cols="50" th:text="${weddingDTO.info}"></textarea>
            </div>
          </div>

        <div class="churchandplacedisplay">

          <div class="church_info">
            <div>
              <label for="churchname">Kościół</label>
              <input type="text" name="churchname" id="churchname" minlength="3" th:field="*{churchname}" required>
            </div>
            <div>
              <label for="churchaddress">Adres Kościoła</label>
              <input type="text" name="churchaddress" id="churchaddress" minlength="3" th:field="*{churchaddress}" required>
            </div>
            <div>
              <label for="chLatitude">Współrzędne X</label>
              <input type="number" name="chLatitude" id="chLatitude" min="-180" max="180" step="0.000001" minlength="3" th:field="*{chLatitude}" required>
            </div>
            <div>
              <label for="chLongitude">Współrzędne Y</label>
              <input type="number" name="chLongitude" id="chLongitude" min="-90" max="90" step="0.0000001" minlength="3" th:field="*{chLongitude}" required>
            </div>
            <div th:if="${weddingDTO.chWebAppPath != null}">
             <img class="photo" th:src="@{${weddingDTO.chWebAppPath}}" />
            </div>
          </div>


          <div class="place_info">
            <div>
              <label for="weddinghousename">Sala</label>
              <input type="text" name="weddinghousename" id="weddinghousename" minlength="3" th:field="*{weddinghousename}" required>
            </div>
            <div>
              <label for="wAddress">Adres Sali</label>
              <input type="text" name="wAddress" id="wAddress" minlength="3" th:field="*{wAddress}" required>
            </div>
            <div>
              <label for="wLatitude">Współrzędne X</label>
              <input type="number" name="wLatitude" id="wLatitude" min="-180" max="180" step="0.000001" minlength="3" th:field="*{wLatitude}" required>
            </div>
            <div>
              <label for="wLongitude">Współrzędne Y</label>
              <input type="number" name="wLongitude" id="wLongitude" min="-90" max="90" step="0.0000001" minlength="3" th:field="*{wLongitude}" required>
            </div>
            <div th:if="${weddingDTO.wWebAppPath != null}">
             <img class="photo" th:src="@{${weddingDTO.wWebAppPath}}" />
            </div>
          </div>
        </div>

        <div class="churchandplacedisplaydown">
          <div class="church_info">
            <div class="downofinfo">
              <div class="uploadpictureinfo">
                <div class = add_img_btn>
                <label th:if="${weddingDTO.chWebAppPath != null}" for="imagewedding">Dodaj zdjęcie</label>
                <label th:unless="${weddingDTO.chWebAppPath != null}" for="imagechurch">Zmień zdjęcie</label>
                </div>
                <input type="file" name="chimage" id="imagewedding" multiple>
              </div>
            </div>
          </div>

          <div class="place_info">
            <div class="downofinfo">
              <div class="uploadpictureinfo">
                <div class = add_img_btn>
                <label th:if="${weddingDTO.wWebAppPath != null}" for="imagechurch">Dodaj zdjęcie</label>
                <label th:unless="${weddingDTO.wWebAppPath != null}" for="imagechurch">Zmień zdjęcie</label>
                </div>
                <input type="file" name="wimage" id="imagechurch" multiple>
              </div>
            </div>
          </div>
        </div>

        <div class="enterbtninfo">
          <button type="submit" class="btn"><span>Z R O B I O N E</span></button>
        </div>

      </form>
      <!-- ************************************************** -->
    </section>
  <!-- ************************************************** -->
  </div>
  <footer th:replace="footer :: footer"></footer>
</body>
