<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MyWeddi</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>

<body>
  <header th:replace="top :: top">
  </header>
  <header th:replace="header :: header">
  </header>

  <div class="container" style="display: flex;">
    <aside class="menu" th:replace="menu :: menu"></aside>
    <!-- ************************************************** -->
    <section class="content">
      <!-- ************************************************** -->
      <form th:action="@{/host/info/church}" method="post" th:object="${churchInfo}" enctype="multipart/form-data">
        <input type="hidden" name="weddingid" th:value="${churchInfo.weddingid}" />
        <p th:if="${massage != null}" th:class="${class}" th:text="${message}"></p>
          <div class="generalinfo">
            <div class="dateofwedding">
              <label for="ceremenytime">Data ślubu</label>
              <input type="datetime-local" name="ceremenytime" id="ceremenytime" minlength="3" th:field="*{ceremenytime}" required>
            </div>
            <div class="infoofwedding">
              <label for="info">INFO</label>
              <textarea id="info" name="info" rows="4" cols="50" th:text="${churchInfo.info}"></textarea>

            </div>
          </div>

        <div class="churchandplacedisplay">

          <div class="church_info">

            <div>
              <label for="name">Kościół</label>
              <input type="text" name="name" id="nameC" minlength="3" th:field="*{name}" required>
            </div>
            <div>
              <label for="wAddress">Adres Sali</label>
              <input type="text" name="wAddress" id="wAddress" minlength="3" th:field="*{wAddress}" required>
            </div>
            <div>
              <label for="wLatitude">Współrzędne X</label>
              <input type="number" name="wLatitude" id="wLatitude" min="-180" max="180" step="0.000001" minlength="3" th:field="*{wLatitude}" required>
            </div>
            <div>
              <label for="wLongitude">Współrzędne Y</label>
              <input type="number" name="wLongitude" id="wLongitude" min="-90" max="90" step="0.0000001" minlength="3" th:field="*{wLongitude}" required>
            </div>
            <div th:if="${churchInfo.webAppPath != null}">
             <img class="photo" th:src="@{${churchInfo.webAppPath}}" />
            </div>
          </div>


          <div class="place_info">
            <div>
              <label for="name">Sala</label>
              <input type="text" name="name" id="name" minlength="3" th:field="*{name}" required>
            </div>
            <div>
              <label for="address">Adres Sali</label>
              <input type="text" name="address" id="addressS" minlength="3" th:field="*{address}" required>
            </div>
            <div>
              <label for="latitude">Współrzędne X</label>
              <input type="number" name="latitude" id="latitudeS" min="-180" max="180" step="0.000001" minlength="3" th:field="*{latitude}" required>
            </div>
            <div>
              <label for="longitude">Współrzędne Y</label>
              <input type="number" name="longitude" id="longitudeS" min="-90" max="90" step="0.0000001" minlength="3" th:field="*{longitude}" required>
            </div>
            <div th:if="${weddingInfo.webAppPath != null}">
             <img class="photo" th:src="@{${weddingInfo.webAppPath}}" />
            </div>
          </div>
        </div>

        <div class="churchandplacedisplaydown">
          <div class="church_info">
            <div class="downofinfo">
              <div class="uploadpictureinfo">
                <div class = add_img_btn>
                <label th:if="${weddingInfo.webAppPath != null}" for="imagewedding">Dodaj zdjęcie</label>
                <label th:unless="${weddingInfo.webAppPath != null}" for="imagechurch">Zmień zdjęcie</label>
                </div>
                <input type="file" name="image" id="imagewedding" multiple>
              </div>
            </div>
          </div>

          <div class="place_info">
            <div class="downofinfo">
              <div class="uploadpictureinfo">
                <div class = add_img_btn>
                <label th:if="${churchInfo.webAppPath != null}" for="imagechurch">Dodaj zdjęcie</label>
                <label th:unless="${churchInfo.webAppPath != null}" for="imagechurch">Zmień zdjęcie</label>
                </div>
                <input type="file" name="image" id="imagechurch" multiple>
              </div>
            </div>
          </div>

        </div>

        <div class="enterbtninfo">
          <button type="submit" class="btn"><span>Z R O B I O N E</span></button>
        </div>
      </form>
      <!-- ************************************************** -->
    </section>
  <!-- ************************************************** -->
  </div>
  <footer th:replace="footer :: footer"></footer>
</body>
