<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>
</head>
<body>

<form th:action="@{/registration}" method="post" th:object="${registrationForm}">
<div class ="topofpageregistration">
      <div class="registrationLady">

        <p>PANNA MLODA</p>
        <div class="formRegistration">
        <div>
            <label for="bridefirstname">Imię</label>
            <input type="text" name="bridefirstname" minlength="3"  id="bridefirstname" th:field="*{bridefirstname}" required>
        </div>
        <div>
            <label for="bridelastname">Nazwisko</label>
            <input type="text" name="bridelastname" minlength="3" id="bridelastname" th:field="*{bridelastname}" required>
        </div>
        <div>
            <label for="brideemail">E-mail</label>
            <input type="email" name="brideemail" minlength="3" id="brideemail" th:field="*{brideemail}" required>
        </div>
        <div>
            <label for="bridephone">Telefon</label>
            <input type="tel" name="bridephone" minlength="3" id="bridephone" th:field="*{bridephone}" required>
        </div>
        </div>
    </div>
    <div class="registrationMan">
        <p>PAN MLODY</p>
          <div class="formRegistration">
            <div>
                <label for="groomfirstname">Imię</label>
                <input type="text" name="groomfirstname" minlength="3" id="groomfirstname" th:field="*{groomfirstname}" required>
            </div>
            <div>
                <label for="groomlastname">Nazwisko</label>
                <input type="text" name="groomlastname" minlength="3" id="groomlastname" th:field="*{groomlastname}" required>
            </div>
            <div>
                <label for="groomemail">E-mail</label>
                <input type="email" name="groomemail" minlength="3" id="groomemail" th:field="*{groomemail}" required>
            </div>
            <div>
                <label for="groomphone">Telefon</label>
                <input type="tel" name="groomphone" minlength="3" id="groomphone" th:field="*{groomphone}" required>
            </div>
          </div>
    </div>
</div>

<div class="downofpageregistration">
    <p>LOGOWANIE</p>
    <div class="formRegistration">
        <div>
          <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        </div>
        <div>
            <label for="username">Login</label>
            <input type="text" name="username" minlength="3" id="username" th:field="*{username}" required>
        </div>
        <div>
          <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
        </div>
        <div>
            <label for="password">Hasło</label>
            <input type="password" name="password" minlength="6" id="password" h:field="*{password}" required>
        </div>
        <div>
            <label for="password2">Powtórz hasło</label>
            <input type="password" name="password2" minlength="6" id="password2" th:field="*{password2}" required>
        </div>
        <div class="enterRegistrationBtn">
            <button type="submit" class="enterbtn"><span>Z A L O G U J</span></button>
        </div>
      </div>
</div>
</form>
</body>
</html>
