<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MyWeddi</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/info.css">
  <link rel="stylesheet" type="text/css" href="/css/tables.css">
</head>

<body>
  <header th:replace="fragments/top :: top"></header>
  <header th:replace="fragments/header :: header"></header>
  <div class="container" style="display: flex;">
    <aside class="menu" th:replace="fragments/menu :: menu"></aside>
    <!-- ************************************************** -->

    <section class="content">
      <div class ="setTables">
      <form th:action="@{/host/tables/add}" method="post">
        <input type="hidden" name="weddingid" th:value="${weddingid}" />
        <div th:each="i : ${#numbers.sequence(1,numoftables)}">
          <label th:text="${'stół ' + i + ' - ilość miejsc: '}"></label>
          <input type="number" min="1" step="1" value="1" name="capacity">
        </div>
        <button class="button_tables" type="submit">Dalej</button>
      </form>
      </div>
  </section>
  <!-- ************************************************** -->
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
