<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{MyWeddi}"></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
</head>
<body>

  <div class="header-top">
    <div>
      <p th:text="#{appdomain}"></p>
    </div>
  </div>

  <div>
    <p th:text="#{resetpass_giveloginemal}"></p>
    <form th:action=@{/forgotpassword/new} method="POST" th:object="${passwordForm}">
      <input type="password" name="pass1" th:field="*{pass1}" required>
      <input type="password" name="pass2" th:field="*{pass2}" required>
      <input type="hidden" name="userid" th:field="*{userid}" required>
      <button type="submit" th:text="#{button.change}"></button>
    </form>
    <a th:href="@{/login}" th:text="#{button.backToLoginPage}"></a>
  </div>
  
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
