<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/first_visit.css">


    <link rel="stylesheet" type="text/css" href="../../static/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/first_visit.css">
</head>

<body>
    <div class="container_firstVisit">
      <form th:action="@{/firstlogin}" method="post">
        <div class="middle_cont_firstVisit">
            <p>Czy potwierdzasz?<p></p>
            <label class="radio">
                <input name="radio" type="radio" checked>
                <span>TAK</span>
            </label>
            <label class="radio">
                <input name="radio" type="radio">
                <span>NIE</span>
            </label>
        </div>
        <div class="middle_cont_firstVisit">
            <a>INFO</a>
        </div>
        <div class="middle_cont_firstVisit">
            <p>Czy będziesz z osobą towarzyszącą?</p>
            <label class="radio">
                <input name="radio" type="radio" checked>
                <span>TAK</span>
            </label>
            <label class="radio">
                <input name="radio" type="radio">
                <span>NIE</span>
            </label>
        </div>
        <div class="middle_cont_firstVisit">
            <p>Ile dzieci?</p>
            <input type="number">
        </div>
        <div class="middle_cont_firstVisit">
            <p>Czy potrzebujesz noclegu?</p>
            <label class="radio">
                <input name="radio" type="radio" checked>
                <span>TAK</span>
            </label>
            <label class="radio">
                <input name="radio" type="radio">
                <span>NIE</span>
            </label>
        </div>
        <div class="enter">
            <button><span>A K C E P T U J</span></button>
        </div>
        </form>
    </div>

</body>
