<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/addguest.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/addguest.css">
    <link rel="stylesheet" type="text/css" href="/css/addgifts_guestview.css">
</head>
<body>
<header th:replace="top :: top">
</header>
<header th:replace="header :: header">
</header>
<div class="container" style="display: flex;">
    <aside class="menu" th:replace="menu :: menu"></aside>
    <!-- ************************************************** -->
    <section class="content">
        <div class="addGifts_top">
            <h1>STREFA PREZENTÓW</h1>
            <div class="addg_guestviev_middle">
                <div>
                    <p class="p0"><strong>PREZENT ZAMIAST KWIATÓW</strong></p>
                    <div class="smallGifts">
                        <i class="fas fa-book-open fa-3x"></i> 
                    </div>
                </div>
                <div>
                    <p class="p1"><strong>GŁÓWNY PREZENT</strong> </p>
                    <div class="bigGifts">
                        <i class="fas fa-envelope fa-3x"></i>
                    </div>
                </div>
             </div> 
            <div class="textarea_addGifts">
                <p class="p3"><strong> "Nasi Kochani Goście<br>
                    Kwiatków nam nie przynoście,<br>
                    wolimy dostać flaszeczkę wina<br>
                    będzie się cieszyć cała rodzina"</strong></p>
            </div>  
            <div class="down_of_addgifts">
            <p class="p0"><strong>LISTA PREZENTÓW (prosimy o rezerwowanie) </strong></p>
           
            <div class="listofguest">
                <table class="table_gifts_gv">
                    <tr th:each="g, it: ${giftwrapper.gifts}">
                      <td th:text="${it.count}"></td>
                      <td><strong th:text="${g.name}">COŚ</strong></td>


                      <td th:if="${g.username == null}">
                            <form th:action="@{/guest/gift/book}" method="POST">
                              <button type="submit" name="giftid" th:value="${g.id}">REZERWUJ</button>
                            </form>
                        </td>
                        <td th:unless="${g.username == null}" th:text="${g.username}">
                        </td>


                        <td th:if="${g.userid == session.userid}">
                            <form th:action="@{/guest/gift/unbook}" method="POST">
                                <button type="submit" name="giftid" th:value="${g.id}"><i class="fas fa-user-minus"></i></button>
                            </form>
                        </td>
                    </tr>
                    <!-- th:if="${g.userid == session.userid}" <tr><td>1</td><td></td><td><a></i></a></td><td>komórka 4</td><td>komórka 5</td><td></td><td></td></tr>
                    <tr><td>2</td><td><i class="fas fa-user-minus"></i></td><td><a><i class="far fa-user-circle"></i></a></td><td>komórka 4</td><td>komórka 5</td><td><a><i class="fas fa-arrow-down"></i></a></td><td><a><i class="far fa-trash-alt"></i></a></td></tr>
                    <tr><td>3</td><td><i class="far fa-question-circle"></i><td><a><i class="far fa-user-circle"></i></a></td><td>komórka 4</td><td>komórka 5</td><td><a><i class="fas fa-arrow-down"></i></a></td><td><a><i class="far fa-trash-alt"></i></a></td></tr> -->
                </table>
            </div>
       
  </section>

  <!-- ************************************************** -->
  </div>
  <footer th:replace="footer :: footer"></footer>
</body>
