<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">

  </head>
  <body>
    <header th:replace="top :: top">
    </header>
    <header th:replace="header :: header">
    </header>
    <div class="container" style="display: flex;">
      <aside class="menu" th:replace="menu :: menu"></aside>
      <!-- ************************************************** -->

      <section class="content">
        <div class="added_post">
          <form th:action="@{/guest}" method="post"  enctype="multipart/form-data">
              <div class="added_post_top">
                  <div >
                      <i class="fas fa-user-circle"></i>
                  </div>
                  <div >
                      <a>NAPISZ COŚ</a>
                  </div>
                  <div>
                  <textarea class ="writecomment" id="writecomment" name="description" rows="3" cols="40"></textarea>
                  </div>
              </div>
              <div class="added_post_down">

                      <input type="file" class="input_add_post" id="myFile" name="images" multiple>
                      <button type="submit" class="entercomment"><span>Dodaj</span></button>

              </div>
            </form>
        </div>



        <div class="content_post" th:each="p : ${posts}">

            <div class="user_posts">
                <div class="header_post">
                    <div class="data_post">
                        <p th:text="${p.postdate + ' ' + p.posttime}"></p>
                    </div>
                    <div class="icon_post">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="nameuser_post">
                        <a th:text="${p.username}"></a>
                    </div>
                </div>
                <!-- ************************************************** -->
                <div class="middle_post">
                    <img th:each="ph : ${p.photos}" th:src="@{${ph.webAppPath}}" width="80%">
                    <p th:text="${p.description}"></p>
                </div>
                <div>
                    <p th:if="${p.weddiLike}">L</p>
                    <p th:unless="${p.weddiLike}">NL</p>
                    <p><span>Num of weddiLikes</span><span th:text="${p.likeNumber}"></span></p>
                    <form th:action="@{/guest/star}" method="post">
                        <button th:if="${p.weddiLike}" type="submit" name="postid" th:value="${p.id}">liked</button>
                        <button th:unless="${p.weddiLike}" type="submit" name="postid" th:value="${p.id}">not weddiLike</button>
                    </form>
                </div>
            </div>
            <!-- ************************************************** -->
            <div class="comments">
                <div class="comment" th:each="c : ${p.comments}">
                <div class="comments_header">

                    <div class="left-item">
                        <div >
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div >
                            <a th:text="${c.username}"></a>
                        </div>
                    </div>
                    <div class="date_post">
                        <span th:text="${c.postdate + ' ' + c.posttime}"></span>
                    </div>
                </div>
                <div class="comments_middle">
                    <p th:text="${c.content}"></p>
                </div>
                </div>
                <div class="comments_down">
                    <form th:action="@{/guest/addcomment}" method="post">
                      <input type="hidden" name="postid" th:value="${p.id}" />
                      <textarea class ="writecomment" id="writecomment" name="content" rows="3" cols="40"></textarea>
                      <button type="submit" class="entercomment"><span>Skomentuj</span></button>
                    </form>
                </div>
            </div>
          </div>
      </section>

      <!-- ************************************************** -->
    </div>
    <footer th:replace="footer :: footer"></footer>
  </body>
</html>
