<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/post.css">
</head>
<body>

    <header th:replace="top :: top">
    </header>
    <header th:replace="header :: header">
    </header>
    <div class="container" style="display: flex;">
        <aside class="menu" th:replace="menu :: menu"></aside>
        <!-- ************************************************** -->
    
        <section class="content">





            <div class="added_post">
                <div class="added_post_top">
                    <div >
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div >
                        <a>NAPISZ COŚ</a>
                    </div>
                    <div>
                    <textarea class ="writecomment" id="writecomment" name="writecomment" rows="3" cols="40"></textarea>
                    </div>
                </div>
                <div class="added_post_down">
                    <form>
                        <input type="file" class="input_add_post" id="myFile" name="filename"   >
                        <button type="button" class="entercomment"><span>Dodaj</span></button>
                    </form>    
                </div>
            </div>
            <div class="content_post">
                <div class="user_posts">
                    <div class="header_post">
                        <div class="data_post">
                            <p>28.02.2021</p>
                        </div>
                        <div class="icon_post">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="nameuser_post">
                            <a>Jan Kowalski</a>
                        </div>
                    </div>
                    <!-- ************************************************** -->
                    <div class="middle_post">
                        <img src="../../static/img/slub.jpg" width="80%">
                        <p>Zdjęcie pary młodej zaraz po wyjściu z kościoła</p>
                    </div>
                </div>
                <!-- ************************************************** -->
                <div class="comments">
                    <div class="comment">
                    <div class="comments_header">                   
                        <div class="left-item">
                            <div >
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div >
                                <a>Jan Kowalski</a>
                            </div>
                        </div>
                        <div class="date_post">
                            <span>28.02.2021</span>
                        </div>
                    </div>
                    <div class="comments_middle">
                        <p>Tutaj widoczny jest komentarz Jana Kowalskiego</p>
                    </div>
                    </div>
                    <div class="comments_down">
                        <textarea class ="writecomment" id="writecomment" name="writecomment" rows="3" cols="40"></textarea>
                        <button type="button" class="entercomment"><span>Skomentuj</span></button>
                    </div>
                </div>           
            </div>
        </section>
      <!-- ************************************************** -->  
</body>

