<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
  <header th:fragment="header">
    <div class="header-middle">
      <div class="main-profile-photo-container">
        <img th:src="@{${session.profilePhoto}}" class="profile-photo-l" />

        <form th:action="@{/profilphoto}" method="post" enctype="multipart/form-data" name="myForm">
          <div id="uploadBtn" class="uploadBtn" onclick="getFile()"><i class="fas fa-camera fa-2x"></i></div>
          <div style='height: 0px;width:0px; overflow:hidden;'>
            <input type="file" id="upfile" name="profilePhoto" value="upload" onchange="sub(this)" multiple />
          </div>
        </form>
      </div>
      <!-- ***********  img  *********** -->

      <div class="wedding-title-container">
        <span>
          <h1 th:text="${session.bridename + ' i ' + session.groomname + ' ' + session.weddingdate}"></h1>
          <p th:text=#{wearegettinmerried}></p>
        </span>
      </div>
    </div>
  </header>
</body>

</html>
