<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
  <header th:fragment="top">
    <div class="header-top">
      <div>
        <a th:href="@{/}" th:text="#{appdomain}"></a>
      </div>
      <div class="header-top-settings">
        <a th:if="${session.role.name() == 'HOST'}" th:href="@{/host/settings}"> <i class="fas fa-cog fa-1x"></i></a>
        <a th:if="${session.role.name() == 'GUEST'}" th:href="@{/guest/settings}"> <i class="fas fa-cog fa-1x"></i></a>
        <a th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-1x"></i></a>
      </div>
    </div>
  </header>
</body>

</html>
