.content{
    background-color: rgb(224, 202, 217);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.addgift_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.addGifts_top{
  width: 60%;
}

.addGifts_top h1{
    display: block;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}

.enterbtn_addGifts{
  display: flex;
  justify-content: center;
}

.enterbtn_addGifts button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:2px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 20px;
    background-color: rgb(235, 219, 230);
    text-align:center;
    transition: all 0.2s;
    color:#000000;
    margin-top: 30px;
    width: 200px;
    height: 35px;
}

.enterbtn_addGifts2 button:hover{
    color: black;
    background-color: white;
    opacity: 50%;
}
.enterbtn_addGifts2 button{
    display:inline-block;
    padding:0.25em 1em;
    border:2px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 15px;
    background-color: rgb(235, 219, 230);
    text-align:center;
    transition: all 0.2s;
    color:#000000;
    margin-top: 30px;
    width: 150px;
    height: 25px;
}

.enterbtn_addGifts button:hover{
    color: black;
    background-color: white;
    opacity: 50%;
}

.textarea_addGifts{
  display: flex;
  flex-direction: column;
  align-content: center;
    width: 70%;
}

.giftInfo{
  width: 70%;
  resize: none;
  margin: auto;
}

.addGifts_top i {
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}


.p0{
    color:rgb(150, 91, 135);
}
.p1{
    color: rgb(184, 97, 133)
}
.p2{
    color: rgb(129, 102, 114);
}
.p3{
    color: rgb(211, 82, 88)
}
.down_of_addgifts{
    padding-top: 20px;
}

.smallGifts{
  display: flex;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 50%
}

.gift-row{
  display: flex;
}

.gift-row label{
  font-weight: bold;
  margin-top: 15px;
}


/*
.addGifts_top button:hover{
    background-color: rgb(143, 83, 133);
    border-radius: 5px 5px 5px 5px;
} */

.gift-btn{
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-style: none;
}

.gift-btn:hover{
  background-color: rgb(143, 83, 133);
  border-radius: 5px 5px 5px 5px;
}

.gift-btn-selected{
  width: 70px;
  height: 70px;
  background-color: #2fc822;
}

.gift-btn-selected:hover{
  width: 70px;
  height: 70px;
  background-color: #56be4d;
}
