.content{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.addgift_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.addGifts_top{
  width: 60%;
}

.addGifts_top h1{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}

.enterbtn_addGifts{
  display: flex;
  justify-content: center;
}

.enterbtn_addGifts button{
    text-decoration: none;
      border-style: none;
      padding: 12px 12px;
      background-color: #2b272a;;
      border-radius: 15px 0px 15px 0px;
      color: white;
      margin-top:10px;
      margin-bottom:20px;
}

.enterbtn_addGifts2 button:hover{
    opacity: 40%;
}
.enterbtn_addGifts2 button{
      text-decoration: none;
      border-style: none;
      padding: 12px 12px;
      background-color: #2b272a;
      border-radius: 15px 0px 15px 0px;
      color: white;
      margin-top:10px;
}

.enterbtn_addGifts button:hover{
    opacity: 40%;
}

.textarea_addGifts{
  display: flex;
  flex-direction: column;
  align-content: center;
    background-color: #d9d2d9;
    margin-top: 10px;
    padding-bottom:20px;
 color:white;
 text-align:center;
     padding-left: 5px;
     padding-right: 5px;

}

.giftInfo{
  width: 70%;
  resize: none;
  margin: auto;
}

.addGifts_top i {
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}


.p0{
     color:white;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
}
.p1{
    color: #2b272a;
    text-align:center;
        font-size:25px;
}
.p2{
    color: rgb(129, 102, 114);
}
.p3{
    color:white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.down_of_addgifts{
    padding-top: 20px;
}

.smallGifts{
  display: flex;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 50%
}

.gift-row{
  display: flex;
}

.gift-row label{
  font-weight: bold;
  margin-top: 15px;
}


/*
.addGifts_top button:hover{
    background-color: rgb(143, 83, 133);
    border-radius: 5px 5px 5px 5px;
} */

.gift-btn{
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 5px 5px 5px;
}

.gift-btn:hover{
  background-color: rgb(143, 83, 133);
  border-radius: 5px 5px 5px 5px;

}

.gift-btn-selected{
  width: 70px;
  height: 70px;
  background-color: rgb(143, 83, 133);
  background-repeat: no-repeat;
  background-size: cover;
}

.gift-btn-selected:hover{
  width: 70px;
  height: 70px;
  background-color: rgb(143, 83, 133);
}
.textarea_addGifts2{
   background-color: #d9d2d9;
   padding-bottom:15px;
text-align:center;
width: 90%;
}
.p00{
color: #2b272a;
    text-align:center;
    font-size:25px;
}