.contentof_guestview_welcome{
    background-color: rgb(241, 235, 239);
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.middle_of_guestview{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.churchinfo_guestview, .weddinginfo_guestview{
    margin-top: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}
.down_of_guestview{
    background-color: rgb(241, 235, 239);
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}
.welcome_guestview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}