.contentof_guestview_welcome{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.guest_church_info{
    background-color: rgb(241, 235, 239);
    margin-top: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.church_maps_and_photo{
    display: flex;
    justify-content: space-evenly;
}

.down_of_guestview{
    background-color: rgb(241, 235, 239);
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}
