.content{
    background-color: rgb(184, 103, 159);
}
.generalinfo{
    text-align: center;
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    color: white;
    color: rgb(33, 32, 36);
    font-size: 30px;
    font-weight: 200;
}
.churchandplacedisplay{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.dateofwedding label {
    display: block;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}
.infoofwedding label{
    display: block;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-top: 10px;
}
.dateofwedding input{
    width: 30%;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    border-style:none;
    text-align: center;
}
.infoofwedding textarea{
    width: 60%;
    height: 100px;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-style:none;
    resize: none;
}
.generalinfo{
    display: flex;
    flex-direction: column;
}
.column-info{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;

}

.column-info div{
  width: 100%;
}

.churchandplacedisplay input{
    display: block;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    border-style:none;
    width: 500px;
}
.enterbtninfo button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:2px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: rgb(161, 84, 137);
    text-align:center;
    transition: all 0.2s;
    color:#000000;
    margin-top: 30px;
    width: 300px;
    height: 50px;
}
.enterbtninfo button:hover{
    color: black;
    background-color: white;
    opacity: 50%;
}
.uploadpictureinfo label{
    width: 30%;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    border-style:none;
}
.uploadpictureinfo{
    text-align: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:2px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: rgb(206, 141, 185);
    text-align:center;
    transition: all 0.2s;
    color:#000000;
    margin-top: 30px;
    width: 300px;
    height: 65px;
}
.uploadpictureinfo:hover{
    color: black;
    background-color: white;
    opacity: 50%;
}
.downofinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-photo{
  margin: 1%;
  width: 90%;
  height: 90%;
}
