.generalinfo{
    text-align: center;
    margin-top: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}
.churchandplacedisplay{
    display: flex;
    margin-top: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    background-color: #e0d1e0;
    text-align:center;
}
.dateofwedding label {
    display: block;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}
.infoofwedding label{
    display: block;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 200;
    margin-top: 10px;
}
.dateofwedding input{
    width: 30%;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    border-style:none;
    text-align: center;
    border: 1px solid black;
}
.infoofwedding textarea{
    width: 60%;
    height: 100px;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-style:none;
    resize: none;
    border: 1px solid black;
}

.photo{
   margin: 1%;
   width: 90%;
 }

.church_info input{
    width: 92%;
}

.place_info input{
    width: 92%;
}

.downofinfo{
    bottom: 0;
}

.enterbtninfo{
    text-align:center;
}

.churchandplacedisplaydown{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 200;
    background-color: #e0d1e0;
    text-align:center;
    justify-content:space-around;
    padding-bottom: 15px;
}

.btn {
     border-radius: 5px;
     padding: 16px 16px;
     width: 60%;
     text-align: center;
     font-size: 25px;
     font-family: 'Nunito', sans-serif;
     color: #2E3E60;
     text-decoration: none;
     background-color: #ebbec8;
     opacity: 90%;
     border: 2px solid #fff2f5;
     cursor: pointer;
 }

.btn:hover{
    opacity:40%;
}

.add_img_btn{
    text-decoration: none;
    border-style: none;
    padding: 12px 12px;
    background-color:#2b272a;
    border-radius: 15px 0px 15px 0px;
    color:white;
    margin-top:10px
}
.add_img_btn:hover{
  opacity:40%;
}
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.add_img_btn:hover{
    opacity:40%;
}
