.btn {
    border-radius: 5px;
    padding: 16px 16px;
    width: 60%;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #2E3E60;
    text-decoration: none;
    background-color: #ebbec8;
    opacity: 40%;
    border: 2px solid #fff2f5;
}

.btn:hover {
    background-color: #ebbec8;
    opacity: 80%;
    border: 2px solid #fff2f5;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menuNav{
     position: fixed;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 25%;
}
