.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    margin-top:20px;
}

.content_post{
    padding: 3px;
    width: 90%;
}

.user_posts{
    display: flex;
    flex-direction: column;
    background-color: #f5e6f4;
    margin-top: 20px;
    border-radius: 0px 20px 0px 20px;
}

.icon_post, .nameuser_post{
    margin-top: 15px;
    font-size: 20px;
}

.data_post{
    font-size: 10px;
}

.header_post {
  display: flex;
  justify-content: space-between;
  background-color: #e3bcde;
  border-radius: 0px 20px 0px 0px;
  height: 50px;
  align-items: center;
  margin: 0px;
  padding: 0px 10px 0px 10px;


}

.middle_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.middle_post img{
    margin-top: 20px;
}

.middle_post p{
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(231, 171, 216);
}
.comment{
margin-left: 50px;
background-color: #ddcce0;
border-radius: 0px 20px 0px 20px;
}
.comment p{
padding-left: 50px;
}
.comments_header{
    display: flex;
    justify-content: space-between;
    background-color: #302c30;
    color: white;
    height: 20px;
    border-radius: 0px 20px 0px 20px;
}

.left-item{
    display: flex;
}

.comments_header div{
    padding-left: 20px;
}

.comments_middle{
    padding-left: 10px;
}

.comments_down textarea {
    width: 70%;
    margin-left: 10px;
    margin-top:10px;
}

.comments{
    padding-bottom: 10px;
    background-color: #f5e6f4;
    border-radius: 0px 20px 0px 20px;

}

.date_post{
    font-size: 10px;
    padding-top: 3px;
}
.entercomment{
    background-color: rgb(221, 221, 221);
    color: black;
    border: 2px solid #cfc1db;
    height: 30px;
    font-family: 'Nunito', sans-serif;
}

.entercomment:hover{
    background-color: rgb(199, 152, 185);
    opacity: 80%;
}

.added_post{
   background: rgb(26,18,161);
   background: linear-gradient(90deg, rgba(26,18,161,1) 0%, rgba(187,97,167,1) 0%, rgba(190,131,187,1) 57%, rgba(204,178,228,1) 100%);
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding-top:10px;
    padding-bottom:10px ;
    border-radius: 0px 20px 0px 20px;
}

.added_post div{
    padding-left: 20px;
}

.added_post textarea{
background-color: rgb(238, 228, 237);
border: none;
border-radius: 20px 20px 20px 20px;
}

.added_post_top{
    display: flex;
}

.input_add_post{
color: transparent;
}
.writecomment{
width: 400px;
resize: none;
}
.nameuser_post_delete {
border: none;
background:none;
}
.nameuser_post_delete_div{
    margin-top: 12px;
    font-size: 20px;
    }

.fa-trash:before {
    color: gray;
}
.fa-heart{

color:#b50505;

}
.fa-heart:hover{
color: gray;
}
.btn_like{
border: none;
background-color:#f5e6f4;
}
.nr_like{
font-size: 20px;
}