.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    margin-top:20px;
}

.content_post{
    padding: 3px;
    width: 90%;
}

.user_posts{
  display: flex;
  flex-direction: column;
  background-color: #f5e6f4;
  margin-top: 20px;
  border-radius: 0px 20px 0px 20px;
}

.icon_post, .nameuser_post{
  margin-top: 15px;
  font-size: 20px;
}

.data_post{
  font-size: 10px;
}

.header_post {
  display: flex;
  justify-content: space-between;
  background-color: #e3bcde;
  border-radius: 0px 20px 0px 0px;
  height: 50px;
  align-items: center;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}

.middle_post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.middle_post img{
  margin-top: 20px;
}

.middle_post p{
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(231, 171, 216);
}

.comment{
  margin-left: 50px;
  background-color: #ddcce0;
  border-radius: 0px 20px 0px 20px;
}

.comment p{
  padding-left: 50px;
}

.comments_header{
  display: flex;
  justify-content: space-between;
  background-color: #302c30;
  color: white;
  border-radius: 0px 20px 0px 20px;
}

.left-item{
  display: flex;
}

.comments_header div{
  padding-left: 20px;
}

.comments_middle{
  padding-left: 10px;
}

.comments_down textarea {
  width: 70%;
  margin-left: 10px;
  margin-top:10px;
}

.comments{
  padding-bottom: 10px;
  background-color: #f5e6f4;
  border-radius: 0px 20px 0px 20px;
}

.date_post{
  font-size: 10px;
  padding-top: 3px;
}

.entercomment{
  background-color: #343136;
  border-radius: 15px 0px 15px 0px;
  color: white;
  font-size: 1.2em;
  width: 60%;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.entercomment:hover{
  opacity: 60%;
}

.added_post{
  background-color: #ddcce0;
  width: 90%;
  display: flex;
  padding-top:10px;
  padding-bottom:10px ;
}

.added_post form{
  margin: 10px;
}

.added_post textarea{
  border: none;
  padding: 15px;
  width: 60%;
}

.added_post_top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.added_post_top div{
    padding-left: 10px;
}


.writecomment{
  width: 400px;
  resize: none;
}

.nameuser_post_delete {
  border: none;
  background:none;
  margin-right: 20px;
  cursor: pointer;
}

.nameuser_post_delete i:hover {
  color: black;
}

.nameuser_post_delete_div{
  margin-top: 12px;
  font-size: 20px;
}

.fa-trash {
    color: gray;
}

.fa-trash:hover {
    color: black;
    cursor: pointer;
}

.fa-heart{
  color:#b50505;
}

.fa-heart:hover{
  color: gray;
  cursor: pointer;
}

.btn_like{
  border: none;
  background-color:#f5e6f4;
}

.nr_like{
  font-size: 20px;
}

form{
  width: 100%;
}

form .upload {
    width: 20%;
	padding: 10px;
  margin-right: 10px;


}

.added_post_down{
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

upload label{

}

.upload{
    display: flex;
    background-color: #343136;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    cursor: pointer;
}

.upload:hover{
  background-color: #504e52;
}

.input_add_post{
  color: transparent;

}
