<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title th:text="#{appname}"></title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/post.css">

</head>

<body>
  <header th:replace="fragments/top :: top"></header>
  <header th:replace="fragments/header :: header">
  </header>
  <div class="container" style="display: flex;">
    <aside class="menu" th:replace="fragments/menu :: menu"></aside>
    <!-- ************************************************** -->

    <section class="content">
      <div th:if="${session.role == 'HOST'}">
        <a th:href="@{/home}" th:text="#{button_home_private_posts}"></a>
        <a th:href="@{/home/public}" th:text="#{button_home_public_posts}"></a>
        <!-- <a th:href="@{/gust/watched}">Obserwowane</a> -->
      </div>
      <!-- ######################### POST FORM ##################################### -->
      <div class="added_post">
        <form th:action="@{/home}" method="post" enctype="multipart/form-data">
          <input type="hidden" id="posttype" name="posttype" th:value="${posttype.name()}">
          <div class="added_post_top">
            <textarea class="writecomment" name="description" rows="3" cols="40"></textarea>
          </div>
          <div class="added_post_down">
            <button type="submit" class="entercomment"><span th:text="#{button_add}"></span></button>
            <div class="upload" onclick="choosePhoto()">
              <p style="margin:0px; padding:0px;"><i class="fas fa-image fa-1x"></i> <span id="uploadedPostPhotoLabel" th:text="#{button_add_photo}"></span></p>
              <input type="file" class="input_add_post" id="uploadedPostPhoto" name="images" multiple style="display: none;">
            </div>
          </div>
        </form>
      </div>

      <!-- ######################### POST FORM END ##################################### -->

      <div class="content_post" th:each="p : ${posts}">
        <div class="user_posts">

          <div class="header_post">
            <div class="header_post_1">
              <div>
              <img class="profile-photo" th:src="@{${p.userphoto}}" />
              </div>
              <div class="nameuser_post">
                <a class="post_name_user" th:text="${p.username}"></a>
              </div>
            </div>
            <div class="header_post_1">
            <div class="data_post">
                <p th:text="${p.postdatetime}"></p>
            </div>

            <div class="nameuser_post_delete_div">
              <form th:if="${p.myPost}" th:action="@{/home/deletepost}" method="post">
                <input type="hidden" name="posttype" th:value="${posttype.name()}">
                <button class="nameuser_post_delete"  type="submit" name="postid" th:value="${p.id}"><i class="fas fa-trash fa-2x"></i></button>
              </form>
            </div>
            </div>
          </div>
          <!-- ************************************************** -->
          <div class="middle_post">
            <img th:each="ph : ${p.photos}" th:src="@{${ph.webAppPath}}" width="80%">
            <p th:text="${p.description}"></p>
          </div>
          <div>

            <form th:action="@{/home/star}" method="post" style="display: flex">
              <input type="hidden" name="posttype" th:value="${posttype.name()}">
              <button class="btn_like" th:if="${p.weddiLike}" type="submit" name="postid" th:value="${p.id}"><i class="fas fa-heart fa-3x"></i></button>
              <button class="btn_like" th:unless="${p.weddiLike}" type="submit" name="postid" th:value="${p.id}"><i class="far fa-heart fa-3x"></i></button>
              <p><b><span class="nr_like" th:text="${p.likeNumber}"></span></b></p>
            </form>

          </div>
        </div>
        <!-- ************************************************** -->
        <div class="comments">
          <div class="comment" th:each="c : ${p.comments}">
            <div class="comments_header">
              <div class="left-item">
                <div>
                  <img class="profile-photo-s" th:src="@{${c.userphoto}}" />
                </div>
                <div>
                  <a th:text="${c.username}"></a>
                </div>
              </div>
              <div class="date_post">
                <span th:text="${c.postdatetime}"></span>
              </div>
              <div>
                <form th:if="${c.myComment}" th:action="@{/home/deletecomment}" method="post">
                  <input type="hidden" name="posttype" th:value="${posttype.name()}">
                  <button class="nameuser_post_delete" type="submit" name="commentid" th:value="${c.id}"><i class="fas fa-trash fa-2x"></i></button>
                </form>
              </div>
            </div>
            <div class="comments_middle">
              <p th:text="${c.content}"></p>
            </div>
          </div>
          <div class="comments_down">
            <form th:action="@{/home/addcomment}" method="post">
              <input type="hidden" name="postid" th:value="${p.id}" />
              <input type="hidden" name="posttype" th:value="${posttype.name()}">
              <textarea class="writecomment" id="writecomment" name="content" rows="3" cols="40"></textarea>
              <button type="submit" class="entercomment"><span th:text="#{button_add_comment}"></span></button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- ************************************************** -->
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
<script src="/js/uploadphoto.js"></script>
<script>

function choosePhoto(){
  document.getElementById("uploadedPostPhoto").click();
}

document.getElementById("uploadedPostPhoto").onchange = function () {
  if(this.value.split(/(\\|\/)/g).pop()=='') {
    document.getElementById("uploadedPostPhotoLabel").innerHTML = 'Przeglądaj';
  }
  else {
    document.getElementById("uploadedPostPhotoLabel").innerHTML = "Pliki gotowe do załadowania";
  }
};
</script>
</html>
