<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="login_form" th:action="@{/login}" method="post">
  <div id="logout_message" th:if="${param.logout}">
    Zostałeś wylogowany
  </div>
  <!-- Login: <input type="text" name="username" value="p@p"><br>  -->
  Login: <input type="text" name="username" value="sa"><br>
  <!-- Hasło: <input type="password" name="password" value="xxxxxx1"><br>  -->
  Hasło: <input type="password" name="password" value="11"><br>

  <button type="submit">Zaloguj</button><br>

</form>
  </body>
</html>
