<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>

    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
  
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/post.css">
    <link rel="stylesheet" type="text/css" href="../static/css/registration.css">
</head>

<body>
    <div class="header-top">
        <div>
          <p>MyWeddi.pl</p>
        </div>
    </div>
    <div class="login_container1">
        REJESTRACJA I LOGOWANIE
    </div>
    <div class="login_container2">
        <label><input type="radio" name="guest_login">GOŚĆ</label>
        <label><input type="radio" name="guest_login">PAŃSTWO MŁODZI</label>
        <label><input type="radio" name="guest_login">FOTOGRAF</label>
        <label><input type="radio" name="guest_login">DJ/ZESPÓŁ</label>
    </div>

    <div class="login_container3">
        <div class="error-message">
            <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
          </div>
          <div>
              <label for="username">Login</label>
              <input type="text" name="username" minlength="3" id="username" th:field="*{username}" required>
          </div>
          <div class="error-message">
            <p class="error-message2" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
          </div>
          <div>
              <label for="password">Hasło</label>
              <input type="password" name="password" minlength="6" id="password" th:field="*{c}" required>
          </div>
          <div>
              <label for="password2">Hasło</label>
              <input type="password" name="password2" minlength="6" id="password2" th:field="*{password2}" required>
          </div>
    </div>
    <div class="login_container4">
        <div class="registrationLady">
    
            <div class="formRegistration">
                <p>PANNA MLODA</p>
            <div>
              <p th:if="${#fields.hasErrors('bridefirstname')}" th:errors="*{bridefirstname}" class="error_message" ></p>
                <label for="bridefirstname">Imię</label>
                <input type="text" name="bridefirstname" minlength="3"  id="bridefirstname" th:field="*{bridefirstname}">
            </div>
            <div>
                  <p th:if="${#fields.hasErrors('bridelastname')}" th:errors="*{bridelastname}" class="error_message"></p>
                <label for="bridelastname">Nazwisko</label>
                <input type="text" name="bridelastname" minlength="3" id="bridelastname" th:field="*{bridelastname}">
            </div>
            <div>
                <label for="brideemail">E-mail</label>
                <input type="email" name="brideemail" minlength="3" id="brideemail" th:field="*{brideemail}">
            </div>
            <div>
                <label for="bridephone">Telefon</label>
                <input type="tel" name="bridephone" minlength="3" id="bridephone" th:field="*{bridephone}">
            </div>
            </div>
        </div>
        <div class="registrationMan">
            
              <div class="formRegistration">
                <p>PAN MLODY</p>
                <div>
                    <label for="groomfirstname">Imię</label>
                    <p th:if="${#fields.hasErrors('groomfirstname')}" th:errors="*{groomfirstname}" class="error_message"></p>
                    <input type="text" name="groomfirstname" minlength="3" id="groomfirstname" th:field="*{groomfirstname}">
                </div>
                <div>
                    <label for="groomlastname">Nazwisko</label>
                    <p th:if="${#fields.hasErrors('groomlastname')}" th:errors="*{groomlastname}" class="error_message"></p>
                    <input type="text" name="groomlastname" minlength="3" id="groomlastname" th:field="*{groomlastname}">
                </div>
                <div>
                    <label for="groomemail">E-mail</label>
                    <input type="email" name="groomemail" minlength="3" id="groomemail" th:field="*{groomemail}">
                </div>
                <div>
                    <label for="groomphone">Telefon</label>
                    <input type="tel" name="groomphone" minlength="3" id="groomphone" th:field="*{groomphone}">
                </div>
              </div>
        </div>
    </div>
    <div class="login_container_5">
        <div>
            <label for="brideemail">Kod wesela</label>
            <input type="text" minlength="3">
        </div>
    </div>
    <div class = "btn_login">
        <button>DALEJ</button>
    </div>

</body>