<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>
</head>
<body>

  <div class="header-top">
    <div>
      <p>MyWeddi.pl</p>
    </div>
  </div>

  <!-- ************************************* -->
  <div>
    <p><span>Na adres </span> <span>email@email.com</span> <span>został wysłany link aktywacyjny</span></p>

    <form th:action=@{/registration/sendagain} method="POST">
      <button type="submit" name="userid" th:value="${userid}">wyślij ponownie</button>
    </form>
    <a th:href="@{/login}">Wróc do strony logowania</a>
  </div>

</body>
</html>
