<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/registration.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc786d7d3d.js" crossorigin="anonymous"></script>
    <title>MyWeddi</title>
</head>
<body>

<div class ="topofpageregistration">   
    <div class="registrationLady">
        <p>PANNA MLODA</p>
        <form class="formRegistration">
        <div>
            <label for="username">Imię</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="username">Nazwisko</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="username">E-mail</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="username">Telefon</label>
            <input type="text" name="username" id="username">
        </div>
        </form>
    </div>
    <div class="registrationMan">
        <p>PAN MLODY</p>
        <form class="formRegistration">
            <div>
                <label for="username">Imię</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="username">Nazwisko</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="username">E-mail</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="username">Telefon</label>
                <input type="text" name="username" id="username">
            </div>
            </form>
    </div>
</div>

<div class="downofpageregistration">
    <p>LOGOWANIE</p>
    <form class="formRegistration">
        <div>
            <label for="username">Login</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="username">Hasło</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="username">Powtórz hasło</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="enterRegistrationBtn">
            <button type="submit" class="enterbtn"><span>Z A L O G U J</span></button>
        </div>
        </form>
</div>

</body>
</html>
